.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  background-image: url(../img/ic_add_black_24dp_1x.png) ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: 90%;
  margin-top: 10%;
}
body{
  background-color: #C4DCFF;
}

.jumbotron{
  background-color: lightsteelblue;
  margin-top: 5%;
}

 a:hover {
   color: rgb(255, 255, 255); 
   text-decoration: none; 
}
a {
  color:white;
}

#pop-up-info { 
  background-color:#fff;
  border-radius:15px;
  display:none; 
  padding:0;
  margin: 0;
  min-width:400px;
  min-height: 400px;
}
.b-close{   
	transition: all 200ms;
	font-size: 30px; 
	font-weight: bold; 
    color: #333; 
    cursor:pointer;
	position:absolute;
	top:-13;
    right:10px;

}