.backLogin {
    background-color: #353A40;
}
.card-login {
     max-width: 25rem; 
}
/* Estilo background oscuro claro para el texto de la imagen principal  */
.principalText{
    background-color: rgba(0,0,0,0.8); 
    border-radius: 30px;
  }